duckdb
gh-scoped-creds
jupyter-ai>=3,<4
jupyter-geoagent @ git+https://github.com/geojupyter/jupyter-geoagent.git@main
jupyter-myst-build-proxy
jupyter-server-documents
jupyter-server-proxy==4.4.0
jupyterlab-myst
matplotlib
pandas
